# basic LR model

 - normalising the data

In [23]:
# imports
import pandas as pd
from sklearn.linear_model import LogisticRegression as LR
from sklearn.metrics import accuracy_score
seed = 12345

In [2]:
training = pd.read_csv('../data/base_transformed/training.csv')
training.head(5)

,virksomhedsRegistreringsId,ejerkreds_aktiv_92,ejerkreds_aktiv_94,virksomhedsoplysninger_21,virksomhedsoplysninger_22,virksomhedsoplysninger_25,virksomhedsoplysninger_24,virksomhedsoplysninger_23,virksomhedsoplysninger_20,ejerkreds_aktiv_10,...,ejerkreds_ny_32,ejerkreds_aktiv_34,virksomhedsoplysninger_55,virksomhedsoplysninger_54,sagsoplysninger_3,ejerkreds_ny_34,sagsoplysninger_2,sagsoplysninger_30,sagsoplysninger_36,target
0,1,0,0,0.0,"-5,00e+06","-1,0e+06","2,87250000000000e-02","23,89750000000000",-500000.0,0.0,...,0.0,0.0,4,5,0,0,-79,0,2,False
1,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,6,5,0,0,-30,0,2,False
2,5,0,0,0.0,"-5,00e+06","0,0e+00","0,00000000000000e+00","12,95000000000000",0.0,0.0,...,0.0,0.0,9,10,0,0,-135,0,2,False
3,6,0,0,0.0,"-5,00e+06","-1,0e+06","1,93000000000000e-01","38,81500000000000",0.0,0.0,...,0.0,0.0,4,10,0,0,0,0,2,True
4,7,1,1,0.0,"-5,00e+06","-1,0e+06","4,71583333333333e-01","171,26750000000001",-500000.0,0.0,...,0.0,0.0,6,10,0,0,-21,1,2,False

In [3]:
if "," in "-5,123":
    print("comma found")

comma found

In [4]:
# one or more of the columns with floats/scientific notation has , instead of . so need to convert them
for (columnName, columnData) in training.iteritems():
    # check if any of the variables in the column contain commas
    convert = False
    for i in columnData:
        i = str(i)
        if "," in i:
            convert = True
            
    # if convert is True then we must change one or more values
    converted = list()
    if convert == True:
        for i in columnData:
            i = str(i)
            if "," in i:
                new_string = i.replace(",", ".")
                converted.append(new_string)
            else:
                converted.append(i)
        
        # deleting old column and adding new
        training.drop(columnName, axis=1, inplace=True)
        training[columnName] = converted#.astype(numpy.float64)

In [5]:
training.head(5)

,virksomhedsRegistreringsId,ejerkreds_aktiv_92,ejerkreds_aktiv_94,virksomhedsoplysninger_21,virksomhedsoplysninger_20,ejerkreds_aktiv_10,ejerkreds_aktiv_31,ejerkreds_aktiv_96,ejerkreds_aktiv_47,ejerkreds_aktiv_12,...,ejerkreds_ny_34,sagsoplysninger_2,sagsoplysninger_30,sagsoplysninger_36,target,virksomhedsoplysninger_22,virksomhedsoplysninger_25,virksomhedsoplysninger_24,virksomhedsoplysninger_23,ejerkreds_aktiv_25
0,1,0,0,0.0,-500000.0,0.0,4.0,4.0,4,3,...,0,-79,0,2,False,-5.00e+06,-1.0e+06,2.87250000000000e-02,23.89750000000000,-25307.0000000000
1,2,0,0,NaN,NaN,0.0,2.0,1.0,4,1,...,0,-30,0,2,False,nan,nan,nan,nan,-25537.0000000000
2,5,0,0,0.0,0.0,0.0,4.0,1.0,6,1,...,0,-135,0,2,False,-5.00e+06,0.0e+00,0.00000000000000e+00,12.95000000000000,-25432.0000000000
3,6,0,0,0.0,0.0,0.0,3.0,1.0,4,2,...,0,0,0,2,True,-5.00e+06,-1.0e+06,1.93000000000000e-01,38.81500000000000,-25564.0000000000
4,7,1,1,0.0,-500000.0,0.0,13.0,3.0,20,1,...,0,-21,1,2,False,-5.00e+06,-1.0e+06,4.71583333333333e-01,171.26750000000001,-25515.0000000000

In [6]:
import random
# need to replace nan values

# if values are binary, replace them randomly with 0 or 1 with more likelihood based on the mean

# if values are continuous, replace them with the mean

# if values are categorical, replace them randomly with the categories based on the likelihood of each one

confirmed_categorical_list = ['ejerkreds_aktiv_130', 'ejerkreds_aktiv_129', 'ejerkreds_aktiv_127',
                                      'ejerkreds_aktiv_80', 'ejerkreds_aktiv_102', 'ejerkreds_ny_32', 'ejerkreds_aktiv_34']

for (columnName, columnData) in training.iteritems():
    # checking if values are binary, continuous, or categorical
    unique_values = list()
    for value in columnData:
        value = str(value)
        if value not in unique_values:
            unique_values.append(value)
            
    #print(unique_values)
    
    # if no nan in column do nothing
    if "nan" in unique_values:
        
        # if it is a binary column (there is only 1 in this case)
        if len(unique_values) == 3:
            print(unique_values)
            
            # calculating the percentage that are 1
            total = training.shape[0]
            one_count = 0
            for i in columnData:
                i = str(i)
                if i == "1.0":
                    one_count += 1
            
            one_percent = one_count/total
            #print(one_percent)
            # rounding the percent to create a distribution list
            rounded = round(one_percent)
            #print(rounded)
            
            num_ones = rounded
            num_zeros = 100-num_ones
            one_list = [1] * num_ones
            zero_list = [0] * num_zeros
            
            distribution = zero_list + one_list
            #print(distribution)
            
            new_values = list()
            for value in columnData:
                value = str(value)
                if value == "0.0":
                    new_values.append(value)
                elif value == "1.0":
                    new_values.append(value)
                elif value == "nan":
                    # pick randomly from the list
                    new_values.append(random.choice(distribution))
            
            # deleting old column and replacing with new
            training.drop(columnName, axis=1, inplace=True)
            training[columnName] = new_values
    
        # if values are categorical
        elif columnName in confirmed_categorical_list:
            to_pick_from = []
            for i in columnData:
                i = str(i)
                if i != "nan":
                    to_pick_from.append(i)
                    
            new_list = []
            for i in columnData:
                i = str(i)
                if i == 'nan':
                    new_list.append(random.choice(to_pick_from))
                else:
                    new_list.append(i)
            
            # deleting old column and replacing with new
            training.drop(columnName, axis=1, inplace=True)
            training[columnName] = new_list
            
        # else the column is continuous, so take the mean and add it
        else:
            non_nan_values = []
            for i in columnData:
                i = str(i)
                if i != "nan":
                    non_nan_values.append(float(i))
                    
            mean = sum(non_nan_values) / len(non_nan_values)
            
            new_list = []
            for i in columnData:
                i = str(i)
                if i == 'nan':
                    new_list.append(mean)
                else:
                    new_list.append(i)
            
            # deleting old column and replacing with new
            training.drop(columnName, axis=1, inplace=True)
            training[columnName] = new_list

['0.0', 'nan', '1.0']

In [7]:
training.head()

,virksomhedsRegistreringsId,ejerkreds_aktiv_92,ejerkreds_aktiv_94,ejerkreds_aktiv_47,ejerkreds_aktiv_12,ejerkreds_aktiv_48,ejerkreds_aktiv_50,ejerkreds_aktiv_49,ejerkreds_aktiv_78,virksomhedsoplysninger_55,...,ejerkreds_aktiv_26,ejerkreds_aktiv_80,ejerkreds_aktiv_102,ejerkreds_ny_32,ejerkreds_aktiv_34,virksomhedsoplysninger_22,virksomhedsoplysninger_25,virksomhedsoplysninger_24,virksomhedsoplysninger_23,ejerkreds_aktiv_25
0,1,0,0,4,3,1,1,1,0,4,...,-25307.0,0.0,0.0,0.0,0.0,-5.00e+06,-1.0e+06,2.87250000000000e-02,23.89750000000000,-25307.0000000000
1,2,0,0,4,1,1,2,1,0,6,...,-25537.0,0.0,0.0,0.0,0.0,-6627466.525722,-1404997.351227,0.295905,110.517668,-25537.0000000000
2,5,0,0,6,1,4,4,4,0,9,...,-25432.0,0.0,0.0,0.0,0.0,-5.00e+06,0.0e+00,0.00000000000000e+00,12.95000000000000,-25432.0000000000
3,6,0,0,4,2,2,2,2,0,4,...,-25564.0,0.0,0.0,0.0,0.0,-5.00e+06,-1.0e+06,1.93000000000000e-01,38.81500000000000,-25564.0000000000
4,7,1,1,20,1,2,5,2,0,6,...,-25515.0,0.0,0.0,0.0,0.0,-5.00e+06,-1.0e+06,4.71583333333333e-01,171.26750000000001,-25515.0000000000

In [13]:
training['target'].value_counts()

False    10335
True      3384
Name: target, dtype: int64

In [16]:
# resampling to balance true and false frauds
from sklearn.utils import resample

# Separate majority and minority classes
training_majority = training[training.target==False]
training_minority = training[training.target==True]

# Upsample minority class
training_minority_upsampled = resample(training_minority, 
                                 replace=True,            # sample with replacement
                                 n_samples=10335,    # to match majority class
                                 random_state=seed)       # reproducible results

# Combine majority class with upsampled minority class
training_upsampled = pd.concat([training_majority, training_minority_upsampled])

# Display new class counts
training_upsampled.target.value_counts()

False    10335
True     10335
Name: target, dtype: int64

In [17]:
# train test splitting
from sklearn.model_selection import train_test_split

X = training_upsampled.drop(['target', 'virksomhedsRegistreringsId'], axis=1)
y = training_upsampled['target']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=seed)

In [24]:
clf = LR(random_state=seed).fit(X_train, y_train)
preds = clf.predict(X_val)

print(accuracy_score(y_val, preds))

0.5834066256229845