# basic LR model

 - normalising the data

In [35]:
# imports
import pandas as pd
from sklearn.linear_model import LogisticRegression as LR
seed = 12345

In [36]:
training = pd.read_csv('../data/base_transformed/training.csv')
training.head(5)

,virksomhedsRegistreringsId,ejerkreds_aktiv_92,ejerkreds_aktiv_94,virksomhedsoplysninger_21,virksomhedsoplysninger_22,virksomhedsoplysninger_25,virksomhedsoplysninger_24,virksomhedsoplysninger_23,virksomhedsoplysninger_20,ejerkreds_aktiv_10,...,ejerkreds_ny_32,ejerkreds_aktiv_34,virksomhedsoplysninger_55,virksomhedsoplysninger_54,sagsoplysninger_3,ejerkreds_ny_34,sagsoplysninger_2,sagsoplysninger_30,sagsoplysninger_36,target
0,1,0,0,0.0,"-5,00e+06","-1,0e+06","2,87250000000000e-02","23,89750000000000",-500000.0,0.0,...,0.0,0.0,4,5,0,0,-79,0,2,False
1,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,6,5,0,0,-30,0,2,False
2,5,0,0,0.0,"-5,00e+06","0,0e+00","0,00000000000000e+00","12,95000000000000",0.0,0.0,...,0.0,0.0,9,10,0,0,-135,0,2,False
3,6,0,0,0.0,"-5,00e+06","-1,0e+06","1,93000000000000e-01","38,81500000000000",0.0,0.0,...,0.0,0.0,4,10,0,0,0,0,2,True
4,7,1,1,0.0,"-5,00e+06","-1,0e+06","4,71583333333333e-01","171,26750000000001",-500000.0,0.0,...,0.0,0.0,6,10,0,0,-21,1,2,False

In [37]:
X = training.drop(['target', 'virksomhedsRegistreringsId'], axis=1)
y = training['target']

In [38]:
if "," in "-5,123":
    print("comma found")

comma found

In [39]:
# one or more of the columns with floats/scientific notation has , instead of . so need to convert them
for (columnName, columnData) in training.iteritems():
    # check if any of the variables in the column contain commas
    convert = False
    for i in columnData:
        i = str(i)
        if "," in i:
            convert = True
            
    # if convert is True then we must change one or more values
    converted = list()
    if convert == True:
        for i in columnData:
            i = str(i)
            if "," in i:
                new_string = i.replace(",", ".")
                converted.append(new_string)
            else:
                converted.append(i)
        
        # deleting old column and adding new
        X.drop(columnName, axis=1, inplace=True)
        X[columnName] = converted#.astype(numpy.float64)

In [42]:
X.head(5)

,ejerkreds_aktiv_92,ejerkreds_aktiv_94,virksomhedsoplysninger_21,virksomhedsoplysninger_20,ejerkreds_aktiv_10,ejerkreds_aktiv_31,ejerkreds_aktiv_96,ejerkreds_aktiv_47,ejerkreds_aktiv_12,ejerkreds_aktiv_48,...,sagsoplysninger_3,ejerkreds_ny_34,sagsoplysninger_2,sagsoplysninger_30,sagsoplysninger_36,virksomhedsoplysninger_22,virksomhedsoplysninger_25,virksomhedsoplysninger_24,virksomhedsoplysninger_23,ejerkreds_aktiv_25
0,0,0,0.0,-500000.0,0.0,4.0,4.0,4,3,1,...,0,0,-79,0,2,-5.00e+06,-1.0e+06,2.87250000000000e-02,23.89750000000000,-25307.0000000000
1,0,0,NaN,NaN,0.0,2.0,1.0,4,1,1,...,0,0,-30,0,2,nan,nan,nan,nan,-25537.0000000000
2,0,0,0.0,0.0,0.0,4.0,1.0,6,1,4,...,0,0,-135,0,2,-5.00e+06,0.0e+00,0.00000000000000e+00,12.95000000000000,-25432.0000000000
3,0,0,0.0,0.0,0.0,3.0,1.0,4,2,2,...,0,0,0,0,2,-5.00e+06,-1.0e+06,1.93000000000000e-01,38.81500000000000,-25564.0000000000
4,1,1,0.0,-500000.0,0.0,13.0,3.0,20,1,2,...,0,0,-21,1,2,-5.00e+06,-1.0e+06,4.71583333333333e-01,171.26750000000001,-25515.0000000000

In [52]:
import random
# need to replace nan values

# if values are binary, replace them randomly with 0 or 1 with more likelihood based on the mean

# if values are continuous, replace them with the mean

# if values are categorical, replace them randomly with the categories based on the likelihood of each one

for (columnName, columnData) in X.iteritems():
    # checking if values are binary, continuous, or categorical
    unique_values = list()
    for value in columnData:
        value = str(value)
        if value not in unique_values:
            unique_values.append(value)
            
    #print(unique_values)
    
    # if no nan in column do nothing
    if "nan" in unique_values:
        
        # if it is a binary column (there is only 1 in this case)
        if len(unique_values) == 3:
            print(unique_values)
            
            # calculating the percentage that are 1
            total = X.shape[0]
            one_count = 0
            for i in columnData:
                i = str(i)
                if i == "1.0":
                    one_count += 1
            
            one_percent = one_count/total
            print(one_percent)
            # rounding the percent to create a distribution list
            rounded = round(one_percent)
            print(rounded)
            
            num_ones = rounded
            num_zeros = 100-num_ones
            one_list = [1] * num_ones
            zero_list = [0] * num_zeros

['0.0', 'nan', '1.0']
0.016910853560755158
0

In [33]:
clf = LR(random_state=seed).fit(X, y)
clf.predict(X)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').